@page
@model Library.Pages.Auth.RePasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "Shared/_LayoutLog";
}

<section class="vh-200">
    <div class="container-fluid">



        <div class="row">
            <div class="col-sm-6 text-black">
                <a href="/Auth/Login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-return-left m-4" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
                    </svg>
                </a>
                <div class="px-5 ms-xl-4">
                    <i class="fas fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <strong class="tg-logo"><a href="/Books/Index"><img src="~/img/logo.png" alt="company name here"></a></strong>
                </div>

                <div class="d-flex align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form style="width: 23rem;" asp-page="/Auth/RePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Rest password</h3>
                        <h5 class="text-danger"></h5>

                        <div class="form-outline mb-4">
                            <label class="control-label">Enter your registed user name</label>
                            <input name="account" class="form-control form-control-lg" required />
                            <span class="text-danger"></span>
                        </div>

                        <div class="pt-3 mb-4">
                            <input type="submit" value="Send to email" class="btn btn-info btn-lg btn-block" />
                        </div>

                    </form>
                </div>




            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

